**

!.npmrc
!buf.gen.yaml
!buf.work.yaml
!nx.json
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!project.json

!apps/
!apps/login/
!apps/login/**
apps/login/.next
apps/login/node_modules
apps/login/Dockerfile.mydermalife

!packages/
!packages/**
packages/**/node_modules
packages/**/dist
packages/zitadel-proto/cjs
packages/zitadel-proto/es
packages/zitadel-proto/types

!proto/
!proto/**
